---
import type { EntryFieldTypes } from 'contentful'
import ContainerWithBorder from '../atoms/ContainerWithBorder.astro'
import CtaButton from '../atoms/CtaButton.astro'
import DoubleSectionHeading from '../atoms/DoubleSectionHeading.astro'
import ImageWithDynamicallyImportedSrc from '../atoms/ImageWithDynamicallyImportedSrc.astro'

import SectionSubtitle from '../atoms/SectionSubtitle.astro'
import contentfulClient from '../../lib/contentful'
import NewPricingCard from '../molecules/newPricingCard.astro'

export interface PricingModelType {
  contentTypeId: 'pricing-model-content'
  fields: {
    modelTypeTitle: EntryFieldTypes.Text
    modelTagline: EntryFieldTypes.Text
    threeModelBenefits: EntryFieldTypes.Object
    ctaButtonText: EntryFieldTypes.Text
  }
}

const models = await contentfulClient.getEntries<PricingModelType>({
  content_type: 'pricing-model-content',
})
---

<script>
  import { sectionScrollAnimation } from '../../gsapAnimations'
  sectionScrollAnimation('pricing', 'pricing-animation')
</script>

<main
  id="pricing"
  class="flex flex-col justify-center items-center h-fit pt-36 px-4 pricing"
>
  <DoubleSectionHeading
    accentHeading="PARTNERSHIPS & PRICING"
    mainHeading="WAYS TO WORK WITH US"
    animationClass="pricing-animation"
  />

  <div
    class="flex flex-col lg:flex-row gap-6 w-11/12 justify-center items-center mt-12"
  >
    {
      models.items.map(
        ({
          fields: {
            modelTypeTitle,
            modelTagline,
            threeModelBenefits,
            ctaButtonText,
          },
        }) => (
          <NewPricingCard
            modelTypeTitle={modelTypeTitle}
            modelTagline={modelTagline}
            threeModelBenefits={threeModelBenefits as string[]}
            ctaButtonText={ctaButtonText}
          />
        ),
      )
    }
  </div>
</main>
