---
import SectionHeading from '../components/atoms/SectionHeading.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="InnovaQuest - AEC Automation Solutions">
  <div class="flex items-center justify-center h-screen">
    <SectionHeading>Not Found...</SectionHeading>
  </div>
</Layout>
