---
import Layout from '../layouts/Layout.astro'
import FounderInfoBlock from '../components/atoms/FounderInfoBlock.astro'
import SectionHeading from '../components/atoms/SectionHeading.astro'

const founders = [
  {
    image: 'founder.png',
    name: 'Johnny Gecz',
    credentials: [
      'Founder',
      'Structural Engineer',
      'Automations Expert',
    ],
    humanisingAspect: 'Armwrestling enthusiast who believes every challenge is winnable with the right grip',
  },
  {
    image: 'founder.png',
    name: 'Marwa Shehata',
    credentials: [
      'Founding Engineer',
      'Software Engineer',
      'Automations Specialist',
    ],
    humanisingAspect: 'A genius coder with an obsession for coffee and cats that fuels her creativity',
  },
{
    image: 'founder.png',
    name: 'Radu Burtea',
    credentials: [
      'Founding Engineer',
      'Software Engineer',
      'Automations Specialist',
    ],
    humanisingAspect: 'Randomly likes to break into dance moves during meetings',
  }
]
---

<script>
  import { sectionScrollAnimation, showCtaOnScroll } from '../gsapAnimations'
  sectionScrollAnimation('about', 'about-animation')
</script>
<Layout title="About">
  <main
    id="about"
    class="flex flex-col items-center justify-center min-h-screen h-fit pt-16 px-8 about"
  >
    <SectionHeading animationClass="about-animation">Who We Are</SectionHeading>

    <div
      class="flex flex-col gap-10 lg:p-20 lg:mt-0 mt-4 justify-center items-center"
    >
      <div class="card-stack relative flex-col w-full max-w-xl">
        {
          founders.map((item, index) => (
            <div class="founder-card" style={`--index: ${index};`}>
              <FounderInfoBlock founderInfo={item} index={index} />
            </div>
          ))
        }
      </div>
    </div>
  </main>
</Layout>

<style>
  .card-stack {
    position: relative;
    width: 100%;
    margin-top: 2rem;
  }

  .founder-card {
    position: relative;
    width: 100%;
    margin-top: calc(var(--index) * 2rem); /* Creates gap between cards */
    z-index: calc(3 - var(--index)); /* Ensures proper stacking order */
    transition: transform 0.3s ease;
  }

  /* Optional: hover effect for interactivity */
  .founder-card:hover {
    transform: translateY(-8px);
  }
</style>
