---
import Layout from '../layouts/Layout.astro'
import FounderInfoBlock from '../components/atoms/FounderInfoBlock.astro'
import SectionHeading from '../components/atoms/SectionHeading.astro'

const founders = [
  {
    image: 'founder.png',
    name: 'Johnny Gecz',
    credentials: [
      'Founder',
      'Structural Engineer',
      'Automations Expert',
    ],
    humanisingAspect: 'Armwrestling enthusiast who believes every challenge is winnable with the right grip',
  },
  {
    image: 'founder.png',
    name: 'Marwa Shehata',
    credentials: [
      'Founding Engineer',
      'Software Engineer',
      'Automations Specialist',
    ],
    humanisingAspect: 'A genius coder with an obsession for coffee and cats that fuels her creativity',
  },
{
    image: 'founder.png',
    name: 'Radu Burtea',
    credentials: [
      'Founding Engineer',
      'Software Engineer',
      'Automations Specialist',
    ],
    humanisingAspect: 'Randomly likes to break into dance moves during meetings',
  }
]
---

<script>
  import { sectionScrollAnimation, showCtaOnScroll } from '../gsapAnimations'
  sectionScrollAnimation('about', 'about-animation')
</script>
<Layout title="InnovaQuest | About">
  <main
    id="about"
    class="flex flex-col items-center justify-center min-h-screen h-fit pt-16 px-8 about"
  >
    <SectionHeading animationClass="about-animation">Who We Are</SectionHeading>

    <div
      class="flex flex-wrap lg:flex-nowrap lg:p-20 lg:mt-0 mt-4 justify-center items-center gap-10"
    >
      <div class="flex-col gap-10 w-xl">
        {
          founders.map((item, index) => (
            <FounderInfoBlock founderInfo={item} index={index} />
          ))
        }
      </div>
    </div>
  </main>
</Layout>
