---
import BookACall from './atoms/BookACall.astro'
import ImageWithDynamicallyImportedSrc from './atoms/ImageWithDynamicallyImportedSrc.astro'
---

<main id="home" class="min-h-screen pt-32 lg:pt-52 xl:pt-32 px-8 relative">
  <div class="max-w-7xl mx-2 md:mx-20">
    <h1
      class="heading-bg-animation-hero bg-right text-[3rem] md:text-[6rem] font-bold leading-none tracking-tighter mt-40"
    >
      <span class="block staggered-fade-in">We Build Game Changing</span>
      <span class="block text-[#B2C6FE] staggered-fade-in">Automations</span>
    </h1>

    <div class="my-10 flex-col">
      <p class="text-sm sm:text-xl text-gray-300 max-w-md">
        We turbo charge your business with powerful automated workflows
        customised to suit your needs
      </p>
      <div class="mt-10 flex items-center gap-6">
        <BookACall />
        <a
          href="#pricing"
          class="hover:text-[#B2C6FE] transition-colors secondary-button h-8"
          >VIEW PRICING</a
        >
      </div>
    </div>
  </div>
  <a href="#pitch">
    <ImageWithDynamicallyImportedSrc
      imageName={'scroll.png'}
      alt="company logo"
      width={50}
      classes={'hidden sm:block absolute bottom-10 left-[calc(50%)] -translate-x-[30px]'}
    />
  </a>
</main>
