---
interface Props {
  animationClass?: string
}

const { animationClass } = Astro.props
---

<h1
  class:list={[
    'subtitle text-2xl md:text-[3rem] leading-none tracking-wider text-center',
    `${animationClass ? animationClass : null}`,
  ]}
>
  <slot />
</h1>
