---
interface Props {
  animationClass?: string
}

const { animationClass } = Astro.props
---

<p
  class:list={[
    'text-gray-400 text-sm sm:text-xl text-center m-10',
    animationClass ? animationClass : null,
  ]}
>
  <slot />
</p>
