---
import CtaButton from '../atoms/CtaButton.astro'
import SocialLinks from '../atoms/SocialLinks.astro'
import { navItems } from '../../utils/navItems'
import ImageWithDynamicallyImportedSrc from '../atoms/ImageWithDynamicallyImportedSrc.astro'
import BookACall from '../atoms/BookACall.astro'
---

<footer class="bg-black text-white py-8">
  <div class="flex flex-col-reverse gap-6 md:flex-row justify-between px-16">
    <div class="flex flex-col items-center justify-center gap-2">
      <a href="/#home">
        <ImageWithDynamicallyImportedSrc
          imageName="logo_main.png"
          alt="logo"
          width={200}
        />
      </a>

      <BookACall animationClass="ml-4" />
    </div>
    <nav class="grid grid-cols-2 gap-3 w-[400px] my-4">
      {
        navItems.map(({ href, label }) => (
          <a
            href={href}
            class="text-md hover:text-[#B2C6FE] transition-colors secondary-button max-w-fit"
          >
            {label}
          </a>
        ))
      }
    </nav>
    <div class="flex flex-col gap-3 mt-4">
      <span class="max-w-96"> CONTACT US</span>
      <span class="max-w-96 text-gray-400"> office@innovaquest.ai</span>
    </div>

    <div class="flex flex-col max-w-96 mt-4">
      <p>ADDRESS</p>
      <p class="text-sm text-gray-400 mt-4">
        Strada Radauților 17, Oradea, Bihor, Romania.
      </p>
    </div>
  </div>
</footer>
