---
import { modalIsOpenWithId } from '../../stores/modalStore'


modalIsOpenWithId.subscribe(isOpenWithId => {
  if (isOpenWithId) {
    console.info('ID:', isOpenWithId.id)
  }
})
---

<script>
  import { modalIsOpenWithId } from '../../stores/modalStore'
  const setModalIsClosed = () => modalIsOpenWithId.set({ id: '' })
  document
    .getElementById('close-modal-btn')
    ?.addEventListener('click', setModalIsClosed)
  modalIsOpenWithId.subscribe(isOpenWithId => {
    if (isOpenWithId.id !== '') {
      return document.getElementById('modal')?.classList.remove('hidden')
    } else {
      return document.getElementById('modal')?.classList.add('hidden')
    }
  })
</script>

<div class="relative">
  <div
    id={'modal'}
    class="hidden fixed inset-0 bg-black/40 backdrop-blur-sm overflow-y-auto h-full w-full z-50"
  >
    <div
      class="relative top-6 mx-auto px-6 py-4 rounded-lg bg-black w-[95%] h-[92%] z-50 border border-gray-700"
      onclick="
      event.stopPropagation()
      "
    >
      <button
        id="close-modal-btn"
        class="text-gray-400 hover:text-[#B0BAFF] transition-colors focus:outline-none absolute top-6 right-6"
      >
        <span class="sr-only">Close</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>

      <div class="overflow-y-auto h-[calc(100%-2rem)] mt-6">
        <slot />
      </div>
    </div>
  </div>
</div>
