---
import type { Asset, ChainModifiers } from 'contentful'
import ContainerWithBorder from '../atoms/ContainerWithBorder.astro'
import ImageWithDynamicallyImportedSrc from '../atoms/ImageWithDynamicallyImportedSrc.astro'

interface Props {
  classes?: string
  testimonialContent: {
    clientLogo: Asset
    clientName: string
    clientCompanyName: string
    clientEndorsement: string
    jobRating: number
  }
}

const {
  classes,
  testimonialContent: {
    clientLogo,
    clientName,
    clientCompanyName,
    clientEndorsement,
    jobRating,
  },
} = Astro.props

let r = jobRating
const ratingArray = []
while (r > 0) {
  ratingArray.push('star')
  r--
}
---

<ContainerWithBorder
  classes={[
    'flex flex-col gap-2 justify-evenly items-center py-6 w-full sm:w-96 min-h-[500px] h-fit pointer',
    classes ? classes : '',
  ]}
>
  <div class="flex items-center justify-center gap-2 w-1/2">
    {
      ratingArray.map(star => (
        <ImageWithDynamicallyImportedSrc
          imageName={'purple_star.png'}
          alt="rating"
          width={20}
        />
      ))
    }
  </div>
  <div class="h-16 flex justify-center items-center">
    <img
      src={`${clientLogo?.fields?.file?.url}`}
      alt="company logo"
      width={90}
    />
  </div>
  <div class="flex justify-center gap-2 items-center w-full">
    <h1 class="text-md text-center font-bold">
      {clientName.toUpperCase()}
    </h1>
    <div class="border-r border-gray-600 h-3"></div>
    <h1 class="text-md text-center">
      {clientCompanyName.toUpperCase()}
    </h1>
  </div>
  <div class="border-b-[0.5px] border-gray-700 w-10/12"></div>
  <p class="text-gray-400 text-md text-center w-10/12 h-32">
    {clientEndorsement}
  </p>
</ContainerWithBorder>
